<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/common/layout/layout.html}">
    <head>
        <link rel="stylesheet" href="/static/css/admin/admin.css">
        <script src="/static/js/admin/admin.js"></script>
    </head>
    <body>
        <section layout:fragment="content" class="admin container userMngmPage">
            <div class="titleDiv">
                <span class="tabTitle">회원관리</span>
            </div>
            <div class="contentDiv">
                <div th:replace="~{/page/admin/adminLeftMenu :: leftMenu}"></div>
                <div class="center">
                    <div class="userMngmDiv">
                        <div class="searchDiv">
                            <span class="form-text searchType">검색구분</span>
                            <select class="searchSct defaultSct form-select">
                                <option value="name">이름</option>
                                <option value="memberId">아이디</option>
                                <option value="email">이메일</option>
                            </select>
                            <input type="text" class="searchInp form-control">
                            <span class="form-text userStat">회원상태</span>
                            <select class="searchSct statSct form-select">
                                <option value="">전체</option>
                                <option value="01">가입중</option>
                                <option value="02">정지</option>
                                <option value="03">탈퇴</option>
                            </select>
                            <button class="searchBtn btn btn-outline-dark">검색</button>
                        </div>
                        <div class="manageContent">
                            <div class="head">
                                <span>이름</span>
                                <span>아이디</span>
                                <span>이메일</span>
                                <span>최근로그인</span>
                                <span>회원상태</span>
                            </div>
                            <div class="body"></div>
                            <div class="footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
