<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/common/layout/layout.html}">
    <head>
        <link rel="stylesheet" href="/static/css/admin/admin.css">
        <script src="/js/admin/userMng.js"></script>
    </head>
    <body>
        <section layout:fragment="content" class="admin container notOpen">
            <div class="titleDiv">
                <span class="tabTitle">회원관리</span>
            </div>
            <div class="contentDiv" >
                <div th:replace="~{/page/admin/adminLeftMenu :: leftMenu}"></div>
                <div class="center">
                    <h1>미오픈</h1>
                </div>
            </div>
        </section>
    </body>
</html>
