<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="headerContainer container d-flex justify-content-center align-items-center">
    <div class="menuNav mt-5 d-flex align-self-start position-absolute">
        <a href="/">Home</a>
    </div>
    <div class="userNav mt-5 d-flex me-auto ms-0">
        <a href="/api/view/user/signIn">로그인</a>
        <a href="/api/view/user/signUp">회원가입</a>
        <a href="/api/user/logout">로그아웃</a>
        <a href="/api/user/myPage">마이페이지</a>
        <a href="/api/admin/myPage">관리자</a>
    </div>
</header>
</html>
