<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/common/layout/layout.html}">
    <head>
        <script>
            $(document).ready(function () {
                let time = 180;      // 최초 설정 시간(기본 : 초)
                let min = "";
                let sec = "";

                /*$("#domain").change(function () {     // 이메일주소 직접입력 처리
                    if ($(this).val(s) == "") {
                        $("#domain2").attr("disabled", false);
                    } else {
                        $("#domain2").attr("disabled", true);
                        $("#domain2").val("");
                    }
                });*/


                // 인증번호 전송을 누르면
                $("#sendAuth").click(function (e) {

                    // let topParentNode = $(e.target).parent().parent() // 버튼이 속해있는 최상위 노드
                    // if ($(".timeOut").hasClass("d-flex") === true) {     // 타이머가 끝나기전에 재전송 불가
                    //     alert(time + "초 뒤 재전송 가능합니다.");
                    //     return;
                    // }

                    let email = $("#email")
                    if (!reg_email.test($(email).val())) {        // 이메일 형식인지 체크
                        alert("잘못된 이메일주소 입니다. 다시입력해주세요");
                        return $(email).focus();
                    }

                    var param = {
                        email: $(email).val()
                    };

                    ajaxCall("POST", "/api/view/user/sendAuth", param, null,
                        (data) => {
                            alert(data.msg);
                            $(".authModal").toggleClass("d-none");

                            // 시간설정
                            setInterval(() => {
                                let timeDiv = $(".timeDiv")
                                min = parseInt(time / 60)
                                sec = time % 60;
                                timeDiv.find("span").html(`유효시간 ${min}분 ${sec}초`).removeClass("d-none").addClass("d-flex");
                                time--;
                                if (time < 60) {
                                    clearInterval(timeout);
                                    timeDiv.find("span").html(`시간초과`).css("color", "red");
                                }
                            }, 1000)
                        }, (data) => {
                            alert(data.responseJSON.msg)
                        })
                });

                $("#send").click(function () {
                    var member_id = $("#member_id").val();
                    var pwd = $("#pwd").val();
                    var name = $("#name").val();

                    if ($("#domain").val() === "") {      // 이메일 + 도메인주소
                        var email = $("#email").val() + "@" + $("#domain2").val();
                    } else {
                        var email = $("#email").val() + "@" + $("#domain").val();
                    }

                    if (memberId === "") {       // 아이디 체크
                        alert("아이디를 입력해주세요.");
                        return;
                    }
                    if (pwd === "") {     // 패스워드 체크
                        alert("패스워드를 입력해주세요.");
                        return;
                    }
                    if (email === "" || ($("#domain").val() === "" && $("#domain2").val() === "")) {       // 이메일 체크
                        alert("이메일을 입력해주세요.");
                        return;
                    } else {
                        if (!reg_email.test(email)) {        // 이메일 형식인지 체크
                            alert("이메일 형식이 아닙니다.");
                            return false;
                        }
                    }
                    if (name === "") {        // 이름 체크
                        alert("이름을 입력해주세요.");
                        return false;
                    }

                    var param = {
                        memberId: memberId,
                        pwd: pwd,
                        name: name,
                        email: email
                    };

                    ajaxCall("POST", "/api/view/user/signUp", param, null, setResult, null);
                });

            });

            function setResult(data) {
                if (data.status == 200) {
                    alert("회원가입에 성공하였습니다.");
                    $(location).attr('href', '/front/view/user/signIn');
                } else {
                    alert("회원가입에 실패하였습니다. (" + data.message + ")");
                    return;
                }
            };
        </script>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="login d-flex flex-column" style="width: 500px; height: 1000px; box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%); background: white">
                <div style="width: 100%;display: flex;justify-content: center;">
                    <div class="loginTitle" style="width: 120px;height: 120px; background: #8d448d; font-size: 30px;border-radius: 50%;margin-top: 10%; text-align: center">
                        <img src="/static/img/login/loginIcon.png" alt="로그인 유저 아이콘" class="w-100">
                        <span style="color: #8d448d; margin-top: 10px;font-size: 1.75rem">회원가입</span>
                    </div>
                </div>

                <!--회원가입-->
                <div class="sign-up-form" style="margin-top: 15%;width: 100%;height: 100%;">
                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="password" class="form-control" id="name" name="name" style="background: #dcdcdc;">
                        <label for="name" style="right: unset">이름</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="text" class="form-control" id="memberId" name="memberId" style="background: #dcdcdc;">
                        <label for="memberId" style="right: unset">아이디</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="password" class="form-control" id="pwd" name="pwd" style="background: #dcdcdc;">
                        <label for="pwd" style="right: unset">패스워드</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-5 d-flex flex-column">
                        <input type="email" class="form-control" id="email" name="email" style="background: #dcdcdc;">
                        <label for="email" style="right: unset">이메일</label>
                        <button type="button" class="btn btn-outline-secondary align-self-end mt-1" id="sendAuth">인증하기</button>
                    </div>

                    <div class="w-75 m-auto mt-5 d-flex justify-content-evenly">
                        <button type="button" class="btn btn-outline-success align-self-end">회원가입</button>
                        <button type="button" class="btn btn-outline-danger align-self-end">가입! 안행!</button>
                    </div>

                    <div class="w-20 h-15 top-50 start-50 transform-50-50 d-none d-flex flex-column bg-body position-absolute p-4 authModal" style="border: 1px solid black;">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="auth">인증번호</label>
                            <input type="text" class="form-control w-75" id="auth" name="auth" style="background: #dcdcdc;">
                        </div>
                        <div class="timeDiv d-flex mt-3 ms-auto">
                            <span></span>
                        </div>
                        <div class="w-75 d-flex justify-content-evenly align-self-center mt-4">
                            <button type="button" class="btn btn-outline-secondary align-self-end mt-1">인증확인</button>
                            <button type="button" class="btn btn-outline-secondary align-self-end mt-1">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
