<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/common/layout/layout.html}">
    <head>
        <script>
            const gbl = {timer: ""}
            $(document).ready(function () {
                let mailAuthYn = 'false';

                // 인증번호 전송을 누르면
                $("#sendAuth").click(function (e) {
                    let topParentNode = $(e.target).parent().parent() // 버튼이 속해있는 최상위 노드

                    // TODO 이메일 유효성 체크 임시 해제
                    // let email = $("#email")
                    // if (!reg_email.test($(email).val())) {        // 이메일 형식인지 체크
                    //     alert("이메일형식이 아닙니다.\r\n다시입력해주세요");
                    //     return $(email).focus();
                    // }

                    let param = {
                        email: $(email).val()
                    };

                    ajaxCall("POST", "/api/view/user/sendAuth", param, null,
                        (data) => {
                            if (data.code === "200") {
                                debugger
                                // alert(data.msg);
                                timeout(topParentNode);
                                setTimeout(() => {
                                    $(".authModal").toggleClass("d-none");
                                    lockBackGround(true);
                                }, 1000);
                            }
                        }, (data) => alert(data.msg))
                });

                // 인증번호 확인을 누르면
                $(".checkAuth").click(function (e) {
                    if ($(auth).val() === "") {       // 인증번호 체크
                        alert("인증번호를 입력해주세요.");
                        return $(auth).focus();
                    }
                    let param = {
                        auth: $(auth).val(),
                        email: $(email).val()
                    };
                    ajaxCall("POST", "/api/view/user/find", param, null,
                        (data) => {
                            if (data.code === "200") {
                                alert(`인증에 성공했습니다.`);
                                $(".authModal").toggleClass("d-none");
                                $("#sendAuth").attr("disabled", true);
                                $("#email").attr("disabled", true);
                                mailAuthYn = 'true';
                            }
                        }, (data) => alert(data.msg))
                });

                $(".btn-outline-success").click(function () {
                    let memberId = $("#memberId").val();
                    let pwd = $("#pwd").val();
                    let name = $("#name").val();
                    let email = $("#email").val();

                    if (mailAuthYn === "false") {       // 메일인증여부 체크
                        alert("메일인증을 진행해주세요.");
                        return;
                    }

                    if (memberId === "") {       // 아이디 체크
                        alert("아이디를 입력해주세요.");
                        return;
                    }
                    if (pwd === "") {     // 패스워드 체크
                        alert("패스워드를 입력해주세요.");
                        return;
                    }

                    // TODO 이메일 유효성 체크 임시 해제
                    // if (!reg_email.test(email)) {        // 이메일 형식인지 체크
                    //     alert("이메일 형식이 아닙니다.");
                    //     return false;
                    // }

                    if (name === "") {        // 이름 체크
                        alert("이름을 입력해주세요.");
                        return false;
                    }

                    if (name.length > 10) {
                        alert("이름은 최대 10자까지 입력가능 합니다.");
                        return false;
                    }

                    let param = {
                        memberId: memberId,
                        pwd: pwd,
                        name: name,
                        email: email
                    };

                    ajaxCall("POST", "/api/view/user/sign-up", param, null, setResult, null);
                });

                // 인증팝업 닫기
                $(".checkCancel").click(function (e) {
                    clearInterval(gbl.timer);
                    $(".authModal").toggleClass("d-none");
                    $("#auth").val("")
                    lockBackGround(false);
                });

            });

            function setResult(data) {
                if (data.code == 200) {
                    alert("회원가입에 성공하였습니다.");
                    $(location).attr('href', '/front/view/user/signIn');
                } else {
                    alert("회원가입에 실패하였습니다. (" + data.message + ")");
                    return;
                }
            };

            function timeout(topParentNode) {
                let time = 180;      // 최초 설정 시간(기본 : 초)
                let min = "";
                let sec = "";

                let timeOutMsg = $(topParentNode).find(".timeOut") // 타이머 영역 node
                // 시간설정
                gbl.timer = setInterval(() => {
                    min = parseInt(time / 60)
                    sec = time % 60;
                    $(timeOutMsg).html(`${min}분 ${sec}초`).removeClass("d-none").addClass("d-flex");
                    time--;
                    if (time < 60) {
                        clearInterval(timeout);
                        $(timeOutMsg).html(`시간초과`);
                    }
                }, 1000)

                setTimeout(() => {
                    $(topParentNode).find(".inputInfo, .inputAuth").toggleClass("d-none");
                }, 1000)
            }

        </script>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="login d-flex flex-column" style="width: 500px; height: 700px; box-shadow: 0 0 14px 8px rgb(0 0 0 / 24%); background: white">
                <div style="width: 100%;display: flex;justify-content: center;">
                    <div class="loginTitle" style="width: 120px;height: 120px; background: #8d448d; font-size: 30px;border-radius: 50%;margin-top: 10%; text-align: center">
                        <img src="/static/img/login/loginIcon.png" alt="로그인 유저 아이콘" class="w-100">
                        <span style="color: #8d448d; margin-top: 10px;font-size: 1.75rem">회원가입</span>
                    </div>
                </div>

                <!--회원가입-->
                <div class="sign-up-form" style="margin-top: 15%;width: 100%;height: 100%;">
                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="text" class="form-control" id="name" name="name" style="background: #dcdcdc;">
                        <label for="name" style="right: unset">이름</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="text" class="form-control" id="memberId" name="memberId" style="background: #dcdcdc;">
                        <label for="memberId" style="right: unset">아이디</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-3">
                        <input type="password" class="form-control" id="pwd" name="pwd" style="background: #dcdcdc;">
                        <label for="pwd" style="right: unset">패스워드</label>
                    </div>

                    <div class="form-floating w-75 m-auto mb-5 d-flex flex-column">
                        <input type="email" class="form-control" id="email" name="email" style="background: #dcdcdc;">
                        <label for="email" style="right: unset">이메일</label>
                        <button type="button" class="btn btn-outline-secondary align-self-end mt-1" id="sendAuth">인증하기</button>
                    </div>

                    <div class="w-75 m-auto mt-5 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-success align-self-end" style="width: 48%;">회원가입</button>
                        <button type="button" class="btn btn-outline-danger align-self-end" style="width: 48%;">취소</button>
                    </div>

                    <div class="singUp-auth-modal authModal w-20 h-15 top-50 start-50 transform-50-50 d-none d-flex flex-column bg-body position-absolute p-5" style="z-index: 1001;border-radius: 15px;border: 1px solid black;">
                        <div class="w-100 d-flex justify-content-between align-items-center form-floating">
                            <input type="text" class="form-control w-100" id="auth" name="auth" style="background: #dcdcdc;">
                            <label for="auth" style="right: unset;">인증번호</label>
                        </div>
                        <div class="timeOut d-flex justify-content-end fs-7 mt-1">
                            <span></span>
                        </div>
                        <div class="w-100 d-flex justify-content-between align-self-center mt-4">
                            <button type="button" class="btn btn-outline-success checkAuth align-self-end mt-1" style="width: 48%;">인증확인</button>
                            <button type="button" class="btn btn-outline-danger checkCancel align-self-end mt-1" style="width: 48%;">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
