/* 기본폰트 */
@font-face {
    font-family: "Gothic A1-500";
    src: url("/static/font/GothicA1/GothicA1-500.ttf") format("opentype");
}

*{font-family: "Gothic A1-500";}

body{background: #f8f9fd!important;}

/* root */
.root{display: flex;flex-direction: column;height: 100%;width: 100%;}

/* backGroundMaks */
#backGroundMaks{background: black;position: absolute;z-index: 1000;opacity: 0.6;}

/* header */
.header.container{display: flex;margin-top: 40px;}
.title-c{display: flex;align-self: end;width: 70%;}
.title-c a{font-size: 2rem;}
.menu-nav{display: flex;align-items: end;width: 30%;margin-left: 5px;}
.menu-nav a{margin-left: 5px;}


/* lay */
.layout.container{display: flex;justify-content: center;align-items: center;height: 500px;}

/* Utils성 클래스 */
.hover:hover{cursor: pointer;}

