/* TODO 클래스명에 U 써서 유틸성 커스텀 클래스인것을 명시할 것 */

.w-u20{width: 20% !important;}
.w-u70{width: 70% !important;}
.mt-u5{margin-top: 5%;}
.mt-u10{margin-top: 10%;}
.mt-u15{margin-top: 15%;}
.mt-u20{margin-top: 20%;}
.mt-u25{margin-top: 25%;}
.h-15{height: 15% !important;}
.h-20{height: 20% !important;}
.fs-7 {font-size: 0.8rem !important;}
.padding-1{padding: 1%;}
.transform-50-50{transform: translate(-50%, 50%) !important;}
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}