<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TEST">

    <insert id="userSignUp" parameterType="user.mngm.usermanagement.mybatis.test.service.vo.UserVo">
        INSERT INTO TB_USER 
            (
                  ID
                , MEMBER_ID
                , PWD 
                , EMAIL
                , NAME
                , GRADE 
            ) VALUES (
                  (SELECT SYS_GUID() FROM DUAL)
                , #{member_id}
                , #{pwd}
                , #{email} 
                , #{name}
                , 'ROLL_USER'
            )
    </insert>

    <select id="userLogin" parameterType="user.mngm.usermanagement.mybatis.test.service.vo.UserVo" resultType="String">
        SELECT
              MEMBER_ID
            , EMAIL
            , NAME
            , STAT
            , GRADE
        FROM TB_USER
        WHERE 1=1
            AND MEMBER_ID = #{member_id}
            AND PWD = #{pwd}
    </select>

</mapper>